@page {
	size: A4;
	margin: 5mm;
}

@media print {
	html,
	body {
		margin: 0px;
		height: 297mm;
	}
	.invoice {
		border: 1px solid rgba(34, 36, 38, 0.15);
	}
	/* ... the rest of the rules ... */
}

body {
	background: #eee;
	font-size: 1.9em !important;
}

.bigfont {
	font-size: 3rem !important;
}

.invoice {
	width: 970px !important;
	margin: 50px auto;
}

.logo {
	float: left;
	padding-right: 10px;
	margin: 10px auto;
}

dt {
	float: left;
}

dd {
	float: left;
	clear: right;
}

.customershipcard {
	min-width: 36%;
}
.gstinfo {
	min-width: 98%;
}
.customercard {
	min-width: 60%;
}

.itemscard {
	min-width: 98.5%;
	margin-left: 0.5%;
}

.logo {
	max-width: 5rem;
	margin-top: -0.25rem;
}

.invDetails {
	margin-top: 0rem;
}

.pageTitle {
	margin-bottom: -1rem;
}
.company-info p,
h4 {
	margin: 0;
	padding-top: 0;
}
.calculationtd {
	height: 20rem;
}
.calculationtd td {
	border-top: none !important;
	border-left: none;
}
.calculation_cgst td {
	border-top: none !important;
}
.calculation_sgst td {
	border-top: none !important;
}
